MMMMMMMMMMMMMMMMMWMMMWMMMMWNKkoc;'...........';:ox0XWMMMWWMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMWWWMWX0xo:,'..                 ...,:lxOKWMMWMMWMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMWN0d:'...                            ..':oONWMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMNOo,.                                       .,lkNMMMMMMMMMMMMMMM
MMMMMMMMWMMMWXd;.                                             .,oKWWWMMMMMMMMMM
MMMMMMMMMWWKo.                                                   .cONWMMMMMMMMM
MMMMMMMMWKl. .                                                     .c0WMMMMMMMM
MMMMMMMNd.                            ....                           .lKMMMMMMM
WWMMMW0;.                           .:kO0Oo.                          .,kNMWMMM
WWMMNx'                             :KMMMMWx.                           .oXWMMM
MMWNd.                             ;0WMMMMMNo.                           .cXMMW
MMNo.                             'OWMWMMMMMXc.                           .cXMM
MWd.                             .xWMMNX0KWMMK;                            .oNM
MO'                             .dNWMWk:':XWWW0,                            .xW
Xc                             .lNMMM0,  .oNWWWk.                            ;K
k.                             :XMMMK:    .dWWMWx.                           .d
c                            .,0MWWNl.     .kWWMNo.                           ;
,                            'OWMMNd.       ,0WWMXc                           .
.                           .xWWMM0,         :KMMMK;.                         .
.                          .oNMMMMNOl.       .lNMMM0,                         . 
.                         .lNWMWWWWMWXxl:.    .dWMMWk'                        .
.                        .:KWMMXockXWWWWNOl'.  .xWWWWd.                       .
,                        ;KMMMWd. .,dKWWWWWXx:. 'OWWWNo.                      .
l                       'OWMMWk.     .cokNWMMW0o:0MMMXoc.                     ;
k.                     .xWMMW0,         .,dKWMMWXk0WWWWKo:                   .d
Nc                    .dNWWWK:            ..ckNMMWWMMWWM0o,                  :K
M0,                  .lXWWWNl                .;dKWMWWWMMWkc.                .kW
MWx.                .:KWWMWd.                  ..ckNWMWWMWxd.              .dNM
WMNd.              .,0MWMWk.                      .;dKWMWWOco.            .lXMM
MMMWx.            .;;ooool,                         ..:dxxxdc;.          .oNMMW
MMMWWk'                                                                 .xWWWMM
MMWMMW0:.                                                             .;OWMMWWM
MMMMMMMNk,.                                                          'dXMMMMMMM
MMMMMMMMMXd'                                                       'lKWMMMMMMMM
MMMMMMMMWMWXd,.                                                 .'oKWWWWMMMMMMM
MMMMMMMMMMWMMXx:..                                            .:xXMWWWWWMMMMMMM
MMMMMMMMMMMMMMMWKx:..                                      .:d0NMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMWXkl;...                            ..;lxKNMMWMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMWNKOxl:,...               ...,:ldkKNWWMWWMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMWMMMMMMNX0OxxdollllllllodkO0KXWMMMMWWMMMMMMMMMMMMMMMMMMMMM

===[ {{inventory_hostname}} Device Report ]===
Date: {{ timestamp }}
  
===[ Device Information ]===
Hostname: {{ansible_net_hostname}}
Management IP: {{ansible_host}}
Model: {{ansible_net_model}}
Serial Number: {{ansible_net_serialnum}}
IOS version: {{ansible_net_version}}

===[Active Interfaces]===
{{output.stdout[0]}}

===[ L3 Interfaces ]===
{{output.stdout[1]}}

===[ CDP Neighbors ]===
{{output.stdout[2]}}

===[ LLDP Neighbors ]===
{{output.stdout[3]}}
 
===[ ARP Table ]===
{{output.stdout[4]}}

===[ Route Table ]===
{{output.stdout[5]}}
